In [1]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x0000021B6FC2D880>
Alec Baldwin was born in 1958.

In [2]:
class Person:
    pass

john_doe = Person()
john_doe.name = "priya"
john_doe.surname = "shreyas"
john_doe.year_of_birth = 1971


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x0000021B6FC2D760>
priya shreyas was born in 1971.

In [3]:
class Person:
    pass

john_doe = Person()
john_doe.name = "Alec"
john_doe.surname = "Baldwin"
john_doe.year_of_birth = 1958


print(john_doe)
print("%s %d was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x0000021B6FC2D6D0>

TypeError: %d format: a number is required, not str

In [4]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [5]:
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

<__main__.Person object at 0x0000021B6FC2DFA0>
Alec Baldwin was born in 1958

In [6]:
class Person:
    pass

john_doe = Person()
john_doe.name = "priya"
john_doe.surname = "shreyas"
john_doe.year_of_birth = 1971


print(john_doe)
print("%s %s was born in %d." %
      (john_doe.name, john_doe.surname, john_doe.year_of_birth))

<__main__.Person object at 0x0000021B6FC2DD00>
priya shreyas was born in 1971.

In [7]:
alec = Person("priya", "shreyas", 1971)
print(priya)
print("%s %s was born in %d"% (alec.name,alec.surname,alec.year_of_birth))

TypeError: Person() takes no arguments

In [8]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2019))

Alec Baldwin was born in 1958 .
61

In [9]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("priya", "shreyas", 1971)
print(priya)
print(alec.age(2019))

NameError: name 'priya' is not defined

In [10]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2019))

Alec Baldwin was born in 1958 .
61

In [11]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." % (self.name, self.surname, self.year_of_birth)
    
alec = Person("Alec", "Baldwin", 1958)
print(alec)
print(alec.age(2011))

Alec Baldwin was born in 1958 .
53

In [12]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2006 .
<class '__main__.Student'>
True
True

In [13]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2012)
print(charlie)
print(type(charlie))
print(isinstance(charlie, Person))
print(isinstance(charlie, object))

Charlie Brown was born in 2012 .
<class '__main__.Student'>
True
True

In [14]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'Charlie', 'Brown', 2006)
print(charlie)

Charlie Brown was born in 2006 . And has ID: 1

In [15]:
class Student(Person):
    def __init__(self, student_id, *args, **kwargs):
        super(Student, self).__init__(*args, **kwargs)
        self._student_id = student_id
        
    def __str__(self):
        return super(Student, self).__str__() + " And has ID: %d" % self._student_id
        
charlie = Student(1, 'abc', 'Brown', 2006)
print(charlie)

abc Brown was born in 2006 . And has ID: 1

In [16]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["a", "b", "c"], ["d", "e"]))
print(summer("abra", "cadabra"))

2
['a', 'b', 'c', 'd', 'e']
abracadabra

In [17]:
def summer(a, b):
    return a + b

print(summer(1, 1))
print(summer(["x", "y", "z"], ["a", "b"]))
print(summer("abra", "cadabra"))

2
['x', 'y', 'z', 'a', 'b']
abracadabra

In [18]:
%%writefile superman.txt
Hello, this is a quick superman test file

Writing superman.txt

In [19]:
%%writefile superman1.txt
Hello, this is a quick superman test file

Writing superman1.txt

In [20]:
my_file = open('superman.txt')

In [21]:
my_file.read()

'Hello, this is a quick superman test file\n'

In [22]:
my_file.read()

''

In [23]:
my_file.seek(0)

0

In [24]:
my_file.seek(1)

1

In [25]:
my_file.read()

'ello, this is a quick superman test file\n'

In [26]:
my_file.read()

''

In [27]:
my_file.read()

''

In [28]:
my_file.readlines()

[]

In [29]:
my_file = open('superman.txt','w+')

In [30]:
my_file.write('This is a new line')

18

In [31]:
my_file.write('This is a new line saipriya')

27

In [32]:
my_file.seek(0)

0

In [33]:
my_file.read()

'This is a new lineThis is a new line saipriya'

In [34]:
my_file.read()

''

In [35]:
my_file.read()

''

In [36]:
%%writefile test.txt
First Line
Second Line

Writing test.txt

In [37]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

In [38]:
%%writefile test.txt
First Line
Second Line
third line
abc 
xyz

Overwriting test.txt

In [39]:
for asdf in open('test.txt'):
    print(asdf)

First Line

Second Line

third line

abc

xyz

In [40]:
from io import StringIO

In [41]:
message = 'This is just a normal string.'

In [42]:
f = StringIO(message)

In [43]:
f.read()

'This is just a normal string.'

In [44]:
f.read()

''

In [45]:
f.write(' Second line written to file like object')

40

In [46]:
f.write(' Second line written to file like object abc xyz ')

49

In [47]:
f.seek(0)

0

In [48]:
f.seek(20)

20

In [49]:
f.read()

'l string. Second line written to file like object Second line written to file like object abc xyz '

In [50]:
f.read()

''

In [51]:
f.read()

''