In [1]:
import math

In [2]:
math.ceil(2.4)

3

In [3]:
math.ceil(2.0)

2

In [4]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [5]:
__init__.py:

__all__ = ["bar"]

SyntaxError: invalid syntax (<ipython-input-5-45d8bf1c62c0>, line 1)

In [6]:
print('Hello)

SyntaxError: EOL while scanning string literal (<ipython-input-6-db8c9988558c>, line 1)

In [7]:
print('Hello")

SyntaxError: EOL while scanning string literal (<ipython-input-7-0779651877b1>, line 1)

In [8]:
print('Hello')

Hello

In [9]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [10]:
try:
    f = open('','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [11]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [12]:
try:
   f = open("testfile", "w")
   f.write("Test write statement")
finally:
   print("Always execute finally code blocks")

Always execute finally code blocks

In [13]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [14]:
askint()

Please enter an integer: 5
Finally, I executed!
5

In [15]:
def askint():
        try:
            val = str(input("Please enter an char: "))
        except:
            print("Looks like you did not enter an char!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [16]:
askint()

Please enter an char: c
Finally, I executed!
c

In [17]:
def askint():
        try:
            val = str(input("Please enter an char: "))
        except:
            print("Looks like you did not enter an char!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [18]:
askint()

Please enter an char: 2
Finally, I executed!
2

In [19]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Try again-Please enter an integer: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [20]:
askint()

Please enter an integer: 2
Finally, I executed!
2

In [21]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Try again-Please enter an integer: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [22]:
askint()

Please enter an integer: h
Looks like you did not enter an integer!
Try again-Please enter an integer: s
Finally, I executed!

ValueError: invalid literal for int() with base 10: 's'

In [23]:
askint()

Please enter an integer: 2
Finally, I executed!
2

In [24]:
askint()

Please enter an integer: v
Looks like you did not enter an integer!
Try again-Please enter an integer: 2
Finally, I executed!
2

In [25]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [26]:
askint()

Please enter an integer: 2
Yep thats an integer!
Finally, I executed!

In [27]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [28]:
askint()

Please enter an integer: h
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: v
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 5
Yep thats an integer!
Finally, I executed!

In [29]:
import sqlite3


db = sqlite3.connect("my_database1.db")


db.execute("drop table if exists grades1")


db.execute("create table grades1(id int, name text, score int)")


db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [30]:
db.commit()

In [31]:
#!/usr/bin/python

import sqlite3
#connecting with the database.

db = sqlite3.connect("my_database1.db")

# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")

# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")

#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [32]:
db.commit()

In [33]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [34]:
results = db.execute("select * from grades1 order by name")
for row in results:
    print(row)
print("-" * 60 )

(104, 'Cathy', 85)
(102, 'Gary', 90)
(103, 'James', 80)
(101, 'John', 99)
(105, 'Kris', 95)
------------------------------------------------------------

In [35]:
results = db.execute("select * from grades1 id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [36]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [37]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results:
    print(row)
print("-" * 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [38]:
results = db.execute("select * from grades1 where name = 'kris' ")
for row in results:
    print(row)
print("-" * 60 )

------------------------------------------------------------

In [39]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [40]:
results = db.execute("select * from grades1 where score <= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
------------------------------------------------------------

In [41]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [42]:
results = db.execute("select name, score from grades1 order by score asc ")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [43]:
results = db.execute("select name, score from grades1 order by score  ")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [44]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [45]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)

In [46]:
results = db.execute("select name, score from grades1 order by names")
for row in results:
    print(row)

OperationalError: no such column: names